{% extends "base.html" %}

{% block title %}| Page Not Found{% endblock %}

{% block content %}
<div class="row">
    <div class="sixCol bgGreen">
        <h1>404 Page Not Found :(</h1>
        <p class="feature">Broken link or broken user?  Try something else, if it's my fault I'll fix it ASAP.</p>
        <p>If something is wrong you can use the <a href="/contact/">contact page</a> to tell Alex and he'll sort it out (yes, a real human being will read your email and totally make everything better!)</p>
    </div>
</div>
{% endblock %}
