{% extends "base.html" %}

{% block sectionTitle %} | Arenas{% endblock %}

{% block content %}
<div id="mainPane" class="floatLeft">
    <div class="row">
        <div class="fourCol bgGreen">
            <h1>Titan</h1>
            <p>Titan or Saturn VI, is the largest moon of Saturn, the only natural satellite known to have a dense atmosphere, and the only object other than Earth for which clear evidence of stable bodies of surface liquid has been found. Titan is the sixth ellipsoidal moon from Saturn. Frequently described as a planet-like moon, Titan has a diameter roughly 50% larger than Earth's moon and is 80% more massive. Expect bands from across the rock, indie and alt spectrum through the day and the big club sounds of now through the evening. Huge times are to be had here, Summer Saturnalia's 'Main Stage'.</p>
        </div>
    </div>
    <div class="row">
        <div class="fourCol bgGreen">
            <h1>Pandora</h1>
            <p>Pandora is an inner satellite of Saturn. It was discovered in 1980 from photos taken by the Voyager 1 probe, and was provisionally designated S/1980 S 26. In late 1985 it was officially named after Pandora from Greek mythology. Completely and utterly chillin through the day, expect classical sets, soulful tunes, the beautiful side of rock, ambient stuff… morphing though the day into northern soul, motown, maybe a bit of indie for good measure and definitely a delicious selection of electronic music that can tug at your emotions.</p>
        </div>
    </div>
    <div class="row">
        <div class="fourCol bgGreen">
            <h1>Hyperion</h1>
            <p>Hyperion also known as Saturn VII, is a moon of Saturn discovered by William Cranch Bond, George Phillips Bond and William Lassell in 1848. It is distinguished by its irregular shape, its chaotic rotation, and its unexplained sponge-like appearance. It was the first non-round moon to be discovered. This is our cinema, We’ll be showing visual delights to accompany the festival’s sonic treats. Independent films for mains and more to be confirmed.</p>
        </div>
    </div>
    <div class="row">
        <div class="fourCol bgGreen">
            <h1>The Saturnalian Arms</h1>
            <p>We will be erecting a full pub on site with the help of ‘The Sportsman’, including pub tables and chairs, jukebox, fixtures, fittings and even a piano for you to play on. Not only will you be able to enjoy some real ale but the Saturnalian Arms doubles up as our acoustic stage. More to be announced later.</p>
        </div>
    </div>
    <div class="row">
        <div class="fourCol bgWhite">
            <p class="feature">More areas to be announced closer to the time...</p>
        </div>
    </div>
</div>
<div class="floatLeft">
    <div class="row">
        {% include "sidebar_latest_news.html" %}
    </div>
    <div class="row">
        {% include "sidebar_newsletter.html" %}
    </div>
</div>
{% endblock %}
