{% extends "base.html" %}

{% block sectionTitle %} | Film{% endblock %}

{% block content %}
<div id="mainPane" class="floatLeft">
    <div class="row">
        <div class="fourCol bgGreen">
            <h1>Film</h1>
            <p class="feature">A feature length documentary is currently been filmed, documenting Summer Saturnalia 2011 from start to finish. There will be a diary room for you to air your thoughts and maybe make the final edit, all bought by Minimal. This idea has grown from last years candid camera approach to this year including a full camera team and various recording equipment.</p>
            <p>MINIMAL is a breathing space for over-productive artists.</p>
            <p>Photography is always a key part to any good event and we are no exception. Photographs from the event will be available from this website after the event.</p>
        </div>
    </div>
    <div class="row">
        <div class="fourCol bgWhite">
            <p class="feature">Check back for further details, or get in touch and help us make it happen!</p>
        </div>
    </div>
</div>
<div class="floatLeft">
    <div class="row">
        {% include "sidebar_latest_news.html" %}
    </div>
    <div class="row">
        {% include "sidebar_newsletter.html" %}
    </div>
</div>
{% endblock %}
