{% extends "base.html" %}

{% block sectionTitle %} | Forgotten Password{% endblock %}

{% block content %}
<div id="mainPane">
    <div class="row">
        <div class="fourCol bgGreen minTwoColHigh">
            <h1>Forgotten Password</h1>
            {% if status == "no_such_user" %}
            <p>There is no user registered for that email address.  Try again?</p>
            {% endif %}
            <p>Please enter the email address you registered with and a new password will be emailed to you.</p>
            <p>After logging in, you can change your password to one of your choosing in the Ambassador Dashboard.</p>
            <form action="" method="post">
                <label for="email">E-mail:</label>
                <input type="text" name="email" id="email" />
                <input type="submit" value="Reset" />
            </form>
        </div>
    </div>
</div>
<div class="floatLeft">
    <div class="row">
        {% include "sidebar_latest_news.html" %}
    </div>
</div>
{% endblock %}
