{% extends "base.html" %}

{% block sectionTitle %} | Terms and Conditions{% endblock %}

{% block content %}
<div id="mainPane" class="floatLeft">
    <div class="row">
        <div class="fourCol bgGreen">
            <h1>Terms and Conditions</h1>
            <p class="feature">TICKETS ARE STRICTLY NON-TRANSFERABLE</p>
            <p>Age restrictions: Strictly 18 years and over. Ticket touting and selling on eBay, chat forums, websites or other 'auctions' is prohibited. All fees will be charged in (£) pounds sterling (GBP).</p>
            <p class="feature">PURCHASER SECURITY</p>
            <p>All transactions are processed by Google, your credit card information is handled and secured by Google at all time.</p>
            <p class="feature">E-Tickets</p>
            <p>All ticketing is fully electronic, so no printed tickets or forms will be posted out.  Print your ticket and bring to the festival to exchange for a wrist band. The location will be printed on your ticket.</p>
            <p class="feature">Deposits</p>
            <p>A deposit payment is £8 (includes £2.50 booking fee) . You have until 01/07/11 to pay the remaining balance in one single payment. To pay the remaining balance you will need to enter your deposit code, which was emailed to you from both Google Checkout and Summer Saturnalia. Failure to settle the financial balance by the 01/07/11 will result in the forfeiting of your deposit amount.</p>
            <p class="feature">Refunds</p>
            <p>Refunds will only be given in the unlikely circumstances that events are cancelled, or if Summer Saturnalia has been negligent or acted in breach of contract. However, refunds will not be given if events are cancelled due to 'Acts of God' and reasons including the following: Terrorism / Biological action, Foot and Mouth, Data Problems, Breach of License, SARS, National Mourning for anyone over 65 years old, Avian Flu, Swine Flu and European Pension Reform, Labour disputes or disruption caused by volcano or other similar natural phenomena.<br>Any refunds given by Summer Saturnalia will be for the face value of tickets sold and will not include the booking fee. All booking fees are non-refundable. No refunds will be given to any persons who are ejected for behaving offensively or carrying such items or substances as deemed prohibited by law.</p>
            <p class="feature" id="privacy-policy">Privacy policy</p>
            <p>Summer Saturnalia does not and will not have access to your financial details. They will only be made available to Google. We will not share your personal information for marketing or any other purposes without your consent unless where required to by law. We will always respect your privacy and any personal communication between you and ourselves. We will always comply with any data protection legislation currently in force.<br>Your email address will be added to the Summer Saturnalia’s emailing list. You will receive updates about the Summer Saturnalia Festival and other future Summer Saturnalia events. You can change or unsubscribe your email at any time by emailing us with ‘Unsubscribe’ as the subject heading.<br>The lineup of Summer Saturnalia is subject to change.</p>
            <p class="feature">Ambassador policy</p>
            <p>All ambassadors must have paid a ticket deposit of £8 (includes £2.50 booking fee) prior to ambassador sign up. The remaining £49.50 will be waivered once the ambassador has reached their required target. Guest ambassadors must sell 10 tickets by having their guests use your unique ambassador code as a payment reference. Solo contributors must sell 3 tickets in the same way. Group ambassadors are required to sell 6 tickets. All tickets must be purchased before 01/07/2011 to qualify for the fee waiver.</p>
            <p class="feature">Admissions policy</p>
            <p>Your ticket will be checked before access is allowed to the camping area. Once you enter the arena your ticket’s bar-code will be checked against the database and you will receive your wrist band.  Nobody without a valid ticket will be admitted, and there will be no entry after midnight. Right of admission reserved (R.O.A.R.). Summer Saturnalia is for nice people and is about having a good time. Anti social behaviour will not be tolerated and people behaving offensively will be ejected without a refund. Guests may be searched on entry to the event. If you are in possession of illegal substances you may be arrested.<br>EVERY PERSON ON SITE IS REQUIRED TO HAVE A TICKET SCANNED TO GAIN ENTRY<br>Contributors and contractors will have their ticket emailed out to them before the event.</p>
            <p class="feature">Photography and Recording</p>
            <p>Ticket holders give their express consent to the use of the actual or simulated likeness in connection with the production, exhibition, advertising and/or exploitation of any film, video and/or audio recording of this event and/or any element thereof in any/all media throughout the world.</p>
            <p class="feature">Alcohol</p>
            <p>You are allowed to bring in your own alcohol (for consumption in the camping field) but only a reasonable amount per person. You will be asked to leave excess alcohol outside the event. Once you have entered the event you cannot re-enter with more alcohol supplies. Alcohol cannot be brought into the main site from the camp site. There are fully licensed bars available for you.</p>
            <p class="feature">Glass</p>
            <p>You will not be allowed to bring in glass bottles or any kind. Broken glass is dangerous for animals who will be using the fields after the event. Leave all glass in the car, decant it into plastic bottles or bin it. There are no exceptions.</p>
            <p class="feature">Parking</p>
            <p>There is a designated car park. No cars allowed in either the arena or camping areas. Caravans, Trailer Tents and anything else that needs to be pulled in and out by a car are not permitted.</p>
            <p class="feature">Fires</p>
            <p>We have a no naked flame policy at the festival and in the camp site. Fires, flares, fireworks will result in you been ejected without refund.</p>
            <p class="feature">Animals and Pets</p>
            <p>No pet animals are allowed on the festival site other than dogs assisting the visually impaired.</p>
            <p class="feature">Contact Us</p>
            <p>Address: Summer Saturnalia, Highfield Court, Highfields Road, Huddersfield HD1 5NG<br>Email:info@summersaturnalia.com<br>UK phone line: 07733 352147<br>Our most effective and preferred method of communication is email. It is the customer's responsibility to ensure that we are kept up to date of any changes of contact details both before and after receipt of e-tickets including email, contact telephone numbers and address.</p>
            <p class="feature">General Information</p>
            <p>Warning: exposure to loud and excessive music may be damaging to your hearing.<br>Strobe lighting may be used at the festival.<br>The land we use is a beautiful natural site and we want to keep it that way so please help us by keeping it clean & recycling what you can. Keep Summer Saturnalia Tidy!<br>If you are lucky enough to look under 21 you might be asked for ID at the bars as part of the Challenge 21 initiative - so please bring photo ID with you.</p>
        </div>
    </div>
</div>
<div class="floatLeft">
    <div class="row">
        {% include "sidebar_latest_news.html" %}
    </div>
    <div class="row">
        {% include "sidebar_newsletter.html" %}
    </div>
</div>
{% endblock %}
