{% extends "base.html" %}

{% block SectionTitle %}| What's On{% endblock %}

{% block content %}
<div class="row">
    <div class="sixCol bgGreen">
        <h1>What's On</h1>
        <p class="feature">We have lots of exciting things planned to keep you all thoroughly entertained. Below are a few ideas of what to expect, and there'll also be a few surprises that are sure to make Summer Saturnalia 2011 something to remember. Lots of developments are in the pipeline, so remember to check back for updates. If you want to contribute in some way and have ideas then we'd love to hear from you. Use our contact form to tell us about yourself and we’ll get in touch.</p>
    </div>
</div>

<a href="/artists/" title="Artists"><div style="background-image: url(/static/images/Artists.png)" class="artistMenuImage"><p>ARTISTS</p></div></a>
<a href="/whats-on/arenas/" title="Arenas"><div style="background-image: url(/static/images/Arenas.png)" class="artistMenuImage"><p>ARENAS</p></div></a>
<a href="/whats-on/art/" title="Art"><div style="background-image: url(/static/images/Art.png)" class="artistMenuImage"><p>ART</p></div></a>
<a href="/whats-on/activities/" title="Activities"><div style="background-image: url(/static/images/Activities.png)" class="artistMenuImage"><p>ACTIVITIES</p></div></a>
<a href="/whats-on/ameneties/" title="Ameneties"><div style="background-image: url(/static/images/Ameneties.png)" class="artistMenuImage"><p>AMENETIES</p></div></a>
<a href="/whats-on/film/" title="Film"><div style="background-image: url(/static/images/Filming.png)" class="artistMenuImage"><p>FILM</p></div></a>

{% endblock %}
